<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.pv.kallsbuilder">

    <dist:module
        dist:onDemand="false"
        dist:title="@string/title_kallsbuilder">
        <dist:fusing dist:include="true"/>
    </dist:module>
</manifest>

